.card-title {
  font-size: 24px;
  margin-top: 1em;
  margin-bottom: 0.7em;
  text-align: center;
}

.card-subtitle {
  font-size: 18px;
  margin-bottom: 0.6em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

.input-group {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.form {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.button-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 0.7em;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.logo {
  height: 150px;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .form {
    margin-top: 25%;
    width: 90%;
  }

  .logo {
    height: 75px;
    width: auto;
  }

  .card-title {
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 0.4em;
  }

  .card-subtitle {
    font-size: 14px;
    margin-bottom: 0.4em;
    width: 75%;
  }
}
